<input (keyup)="searchEvent$.next($any($event).target.value)">

<div class="city-list">
  <div [ngClass]="{'selected': selectedCity?.name == city.name}" *ngFor="let city of cityList" (click)="clickEvent$.next(city)">{{city.name}}</div>
</div>

<label for="distance">Maximum Distance</label>
<select name="distance" id="distance" [value]="" (change)="distChange$.next($any($event).target.value)">
  <option value="3000">3 KM</option>
  <option value="5000">5 KM</option>
  <option value="7000">7 KM</option>
</select>

<label for="sort">Sort By</label>
<select name="sort" id="sort" [value]="sort" (change)="sortChange$.next($any($event).target.value)">
  <option value="price">Price</option>
  <option value="recommended">Recommended</option>
  <option value="distance">Distance</option>
</select>
<app-car-list></app-car-list>
